<!doctype html>
<html ng-app="adventureTimeWatchGuide">
  <head>
    <meta charset="utf-8">
    <title>adventureTimeWatchGuide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container"  ng-controller="MainController as main">

      <h1><img class="brand" alt="Adventure Time Logo" src="assets/images/adventure_time_logo.png" /> Watch Guide</h1>

      <div class="well intro">
        <h4>Don't have {{ main.totalEpisodes | episodesToTime | date:"H 'hrs' m 'mins'"}} to watch all {{main.totalEpisodes}} episodes of Adventure Time?</h4>

        <h4>
        Blast through the
          <span ng-show="main.currentTier >= 1">main plot</span><span ng-show="main.currentTier == 2"> and subplots</span><span ng-show="main.currentTier == 3">, subplots, and special episodes</span> 
          in <strong>{{ filteredEpisodes.length | episodesToTime | date:"H 'hrs' m 'mins'"}}</strong>. That's {{filteredEpisodes.length / main.totalEpisodes * 100 | number:0}}% of the show. Mathematical!</h4>
      </div>

      
<p></p><p></p>

      <div class="tier-select btn-group">
        <label class="btn btn-lg btn-default" ng-model="main.currentTier" uib-btn-radio="1">Main Quest
          <img class="character" src="assets/images/finn.png" alt="Finn" />
        </label>
        <label class="btn btn-lg btn-primary" ng-model="main.currentTier" uib-btn-radio="2">Side Quests
          <img class="character" src="assets/images/bmo.png" alt="BMO" />
        </label>
        <label class="btn btn-lg btn-danger" ng-model="main.currentTier" uib-btn-radio="3">Extras
          <img class="character" src="assets/images/ice_crown.png" alt="Finn" />
        </label>
      </div>

      <p></p>

      
    

      <div class="episodeList" ng-repeat="ep in main.episodes | filter:main.isInTier as filteredEpisodes">
        <div ng-show="main.showSeasonHeader(ep, $index, filteredEpisodes)">
          <img class="season" ng-src="assets/images/season{{ep.season}}.jpg"/>
          <h1>Season {{ep.season}}</h1>
        </div>
        <h3><strong>{{ep.season}}x{{ep.number}}</strong> {{ep.title}}</h3>
        <hr>
      </div>

    </div>
    

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
